.questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.question-card {
  border: 2px solid black;
  text-align: center;
  padding: 32px;
  margin: 4px auto;
  position: relative;
  flex: 1 1 0px;
  width: 60%;
  /* box-shadow: 4px 4px 0px 1px hsla(0, 0%, 0%, 0.78); */
}
.card-bookmark {
  position: absolute;
  right: -12px;
  top: -12px;
}
button:active {
  border: 2px solid black;
  background-color: var(--neon);
}
.question {
  margin-bottom: 16px;
}
.show-answer {
  border: 1px solid black;
  box-shadow: 2px 2px 0px 1px hsla(0, 0%, 7%, 0.924);

  padding: 8px;
  margin-bottom: 12px;
  background-color: var(--button-color);
}

.category-tags {
  font-size: 10px;
  color: var(--gray);
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 6px;
}

.category-tags li {
  border: 1px solid #44454c;
  padding: 2px 4px;
}
