@import url(question-card.css);
@import url(footer.css);
@import url(profile.css);
@import url(form.css);
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;500;600;700;800&family=Roboto+Slab:wght@500&display=swap");
:root {
  --black: #0000;
  --gray: #393a3c;
  --main-bg-color: #f3f4f1;
  --body-bg-color: #93ccd9;
  --primary-color: #e2d4ff;
  --secondary-color: #fedf9a;
  --button-color: #dcffe1;
  --neon: #cfff04;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
body {
  background-color: var(--body-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: var(--secondary-color);
  position: sticky;
  z-index: 1;
  top: 0;
  text-align: center;
  width: 100%;
}

h1 {
  text-align: center;
  padding: 12px;
  margin-bottom: 12px;
  font-family: "Roboto Slab", serif;
}

main {
  background-color: var(--main-bg-color);
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}

@media (min-width: 900px) {
  .question-card {
    min-width: 45%;
    gap: 240px;
    /* box-shadow: 4px 4px 0px 1px hsla(0, 0%, 0%, 0.78); */
  }
  .questions {
    padding: 0 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  header,
  main,
  footer {
    width: 1000px;
  }
}
